/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1920px;
}
.flex {
  display: flex;
}
img {
  width: 100%;
  height: auto;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
/* Header area  */
.hero-area {
  padding-top: 50px;
  background: #e554731a;
}
.hero-area-content {
  gap: 97px;
}
.hero-area-content .img-area {
  max-width: 635px;
}
.hero-area-content .text-content {
  align-items: center;
  padding-bottom: 20px;
}
.hero-area-content .text-content h1 {
  color: #272727;
  font-weight: 700;
  font-size: 80px;
}
.hero-area-content .text-content p {
  color: #272727;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
}
.hero-area-content .text-content button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 43px;
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  cursor: pointer;
}

/* Featured flowers  */
.featured-flowers {
  padding-top: 128px;
  background-color: #ffffff;
}
.featured-flowers .section-heading .section-title {
  margin-bottom: 24px;
}
.featured-flowers .section-heading p {
  width: 594px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #27272799;
  font-size: 18px;
  text-align: center;
}
.featured-flowers .flowers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  text-align: center;
}
.featured-flowers .flowers .flower .img-box {
  border-radius: 300px 300px 0 0;
  padding: 110px 76px 0 76px;
  background-color: #a7216226;
  margin-bottom: 32px;
  height: 410px;
  overflow: hidden;
}
.featured-flowers a {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
}

/* customer service area */
.customer-service {
  padding-top: 128px;
  padding-bottom: 128px;
}
.inner-customer-service {
  background-color: #2727270d;
  padding: 66px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}
.inner-customer-service .customer-service-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.inner-customer-service .customer-service-item img {
  width: 80px;
  height: 80px;
}
.inner-customer-service .customer-service-item p {
  color: #272727cc;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
